/.svn

/build/Debug

/build/*.suo

/build/*.sdf

/build/shinsangon2/Debug

/build/shinsangon2/*.user

/data/.svn

/mods/.svn

/build/*.opensdf
/*.pdb
/*.ilk
/shinsangon2.lib
/shinsangon2.exp
/shinsangon2.exe
